@using TestBudgeting.Models.Weather
@model Home

<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<div>
    <h1>@Model.Weather1Var.CityName</h1>
    <p>
        wind: @Model.Weather1Var.Wind 
        low temp : @Model.Weather1Var.Low
        high temp : @Model.Weather1Var.High
        feels like : @Model.Weather1Var.FeelsLike
        sun down : @Model.Weather1Var.SunDown
        sun up: @Model.Weather1Var.SunUp
        Temp : @Model.Weather1Var.Temp
    </p>
    <h1>@Model.Weather2Var.CityName</h1>
    <p>
        wind: @Model.Weather2Var.Wind
        low temp : @Model.Weather2Var.Low
        high temp : @Model.Weather2Var.High
        feels like : @Model.Weather2Var.FeelsLike
        sun down : @Model.Weather2Var.SunDown
        sun up: @Model.Weather2Var.SunUp
        Temp : @Model.Weather2Var.Temp
    </p>

</div>

<div>
    <a href="/Expense/InsertExpense" class="body-link">Add Expense</a>
</div>

