@using TestBudgeting.Models;
@model Expense

<style>
    body {
        background-color: #3E1B24;
    }

    .container {
        background-color: #3E1B24;
        text-align: center;
        color: #FFD5A7;
        font-weight: bold;
        font-size: 40px; /* Increased font size */
        margin-bottom: 20px;
    }

    form {
        background-color: #3E1B24;
        padding: 20px;
        width: 33%;
        margin: 0 auto;
    }

    label {
        color: #FFD5A7;
        font-weight: bold;
        font-size: 30px;
    }

    input[type="text"],
    input[type="number"] {
        background-color: #FFD5A7;
        color: #3E1B24;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        padding: 5px;
    }

    input[type="submit"] {
        background-color: #3E1B24;
        color: #FFD5A7;
        font-weight: bold;
        font-size: 20px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .text-danger {
        color: #FFD5A7;
        font-weight: bold;
        font-size: 20px;
    }
</style>

<h2>Create a New Expense</h2>

@using (Html.BeginForm("InsertExpenseToDatabase", "Expense", "Post"))
{
    <input asp-for="Number" type="hidden" value="" />

    <div class="form-group">
        <label asp-for="Budget" class="control-label">Budget</label>
        <input type="text" name="Budget" class="form-control" value="@Model.Budget" />
    </div>

    <div class="form-group">
        <label asp-for="Payee" class="control-label">Payee</label>
        <input type="text" name="Payee" class="form-control" value="@Model.Payee" />
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="control-label">Amount</label>
        <input type="number" step="0.01" name="Amount" class="form-control" value="@Model.Amount" />
    </div>

    <div class="form-group">
        <label asp-for="Month" class="control-label">Month</label>
        <input type="number" name="Month" class="form-control" value="@Model.Month" />
    </div>
    <div class="form-group">
        <label asp-for="Day" class="control-label">Day</label>
        <input type="number" name="Day" class="form-control" value="@Model.Day" />
    </div>

    <div class="form-group">
        <label asp-for="Year" class="control-label">Year</label>
        <input type="number" name="Year" class="form-control" value="@Model.Year" />
    </div>

    <input type="submit" value="Create Expense" class="btn btn-primary" />
}
<div asp-validation-summary="All" class="text-danger"></div>
