@using TestBudgeting.Models.Expense
@model Expense

<head>
    <link rel="stylesheet" href="/css/site.css">
    <style>
        body {
            background-color: #3E1B24;
            text-align: center;
        }
    </style>
</head>


<h1 style="text-align: center; color: #FFD5A7; font-weight: bold; font-size: 40px; margin-bottom: 20px; background-color: #3E1B24;" >Update Expense</h1>

@using (Html.BeginForm("UpdateExpenseToDatabase", "Expense", "Post"))
{
    <input asp-for="Number" type="hidden" value="@Model.Number" />


    <div class="form-group">
        <label asp-for="Budget" class="control-label">Budget</label>
        <select class="form-control" name="Budget">
            @foreach (var bud in Model.Distinct)
            {
                <option value="@bud">@bud</option>
            }
        </select>
    </div>
        <div class="form-group">
    <label asp-for="Payee" class="control-label">Payee</label>
    <input type="text" name="Payee" class="form-control" value="@Model.Payee" />
    </div>
        <div class="form-group">
    <label asp-for="Amount" class="control-label">Amount</label>
    <input type="number" name="Amount" class="form-control" value="@Model.Amount" />
    </div>
            <div class="form-group">
    <label asp-for="Month" class="control-label">Month</label>
    <input type="number" name="Month" class="form-control" value="@Model.Month" />
    </div>
                <div class="form-group">
    <label asp-for="Day" class="control-label">Day</label>
    <input type="number" name="Day" class="form-control" value="@Model.Day" />
    </div>
                    <div class="form-group">
    <label asp-for="Year" class="control-label">Year</label>
    <input type="number" name="Year" class="form-control" value="@Model.Year" />
    </div>

    <input type="submit" value="Update Expense" class="hyperlink-top" />
}