@using TestBudgeting.Models.Home;
@model HomeVar

<head>
    <link rel="stylesheet" href="/css/site.css">
</head>



<body>
    <div class="col-md-offset-5 col-md-7">
        <div class="table-container">
    <style>
        td {
            background-color: #3E1B24;
            color: #FFD5A7;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }

            td:nth-child(3) {
                text-align: left;
            }
    </style>

        <table class="table table-condensed" id="expenseTable" style="border-collapse: collapse; border: none !important;">
    <tr>
            <th style="background-color: #FFD5A7; color: #3E1B24; font-weight: bold; font-size: 20px; text-align: center; padding: 5px;">Amount</th>
            <th style="background-color: #FFD5A7; color: #3E1B24; font-weight: bold; font-size: 20px; text-align: center; padding: 5px;">Payee</th>
            <th style="background-color: #FFD5A7; color: #3E1B24; font-weight: bold; font-size: 20px; text-align: center; padding: 5px;">Budget</th>
            <th style="background-color: #FFD5A7; color: #3E1B24; font-weight: bold; font-size: 20px; text-align: center; padding: 5px;">Month</th>
            <th style="background-color: #FFD5A7; color: #3E1B24; font-weight: bold; font-size: 20px; text-align: center; padding: 5px;">Day</th>
            <th style="background-color: #FFD5A7; color: #3E1B24; font-weight: bold; font-size: 20px; text-align: center; padding: 5px;">Year</th>

    </tr>
    <tr>
        <td >@Model.Expense.Amount</td>
        <td >@Model.Expense.Payee</td>
        <td >@Model.Expense.Budget</td>
        <td >@Model.Expense.Month</td>
        <td >@Model.Expense.Day</td>
        <td >@Model.Expense.Year</td>
    </tr>
</table>
</div></div>


    <div class="row">
        <!-- This is the Update Button -->
        <div class="col-md-5">
            <a href="/Expense/UpdateExpense/@Model.Expense.Number" class="hyperlink-top">Update this Expense</a>
        </div>

        <!-- This is the Delete Button -->
        <div class="col-md-7">
            @using (Html.BeginForm("DeleteExpense", "Expense", "Post"))
            {
                <input type="hidden" asp-for="Expense.Number" value="@Model.Expense.Number" />
                <input class="hyperlink-top" type="submit" onclick="return confirm('Are you sure?')" value="Delete Expense" />

            }
        </div>
    </div>
</body>